<footer class="footer">
    <div class="footer__checkout">
        <a href="25-cart.html" class="footer__checkout__link">Go to checkout</a>
        <div class="footer__checkout__items">2</div>
    </div>
    <nav class="navbar__footer">
        <ul class="navbar__footer__list">
            <li class="navbar__footer__list__item">
                <a href="10-home-screen.html" class="navbar__footer__list__item__link home">Home</a>
            </li>
            <li class="navbar__footer__list__item">
                <a href="#" class="navbar__footer__list__item__link favorites">Favorites</a>
            </li>
            <li class="navbar__footer__list__item">
                <a href="#" class="navbar__footer__list__item__link notice">Notice</a>
            </li>
            <li class="navbar__footer__list__item">
                <a href="39-edit-profile.html" class="navbar__footer__list__item__link profile">Profile</a>
            </li>
        </ul>
    </nav>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
        
</body>

</html>