<nav class="navbar" aria-label="First navbar example">
    <div class="container">
        <a class="navbar-brand" href="/">Warehouse</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarWareHouse" aria-controls="navbarWareHouse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarWareHouse">
            <div class="navbarWareHouse__wrap">
                <ul class="navbar-nav me-auto mb-2">
                    <li class="nav-item">
                        <a class="nav-link profile" aria-current="page" href="/edit-profile">Edit profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active address" aria-current="page" href="#">My Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link logout" aria-current="page" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>