<%- include('partials/header.ejs') %>

<main class="main">

    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col login-pages min-vh-100">

                    <div class="mx-auto">

                        <header class="login__header">
                            <h1 class="login__header__h1">Forgot Password</h1>
                            <h2 class="login__header__h2">Enter Email or mobile number for<br>restore your account</h2>
                        </header>

                        <form class="form-login">
                            <fieldset>
                                <div class="form-group row">
                                    <div class="col">
                                        <input type="email" class="form-control email" id="email" placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="pb-1 cinza-medio text-center">
                                    OR,
                                </div>
                                <div class="form-group row mb-5">
                                    <div class="col">
                                        <input type="tel" class="form-control tel" id="tel"
                                            placeholder="Enter Phone Number">
                                    </div>
                                </div>
                            </fieldset>
                            <div>
                                <a href="/" class="btn btn-cta mx-auto">Send OTP</a>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </section>

</main>

<%- include('partials/footer.ejs') %>
