<%- include('partials/header.ejs') %>

<main class="main">

    <%- include('partials/search.ejs') %>

    <section>
        <div class="container">
            <div class="row justify-content-center">

                <div class="featured mb-4">
                    <div>
                        <img class="d-block img-fluid" src="/images/banner-1.png">
                    </div>
                    <div>
                        <img class="d-block img-fluid" src="/images/banner-2.png">
                    </div>
                    <div>
                        <img class="d-block img-fluid" src="/images/banner-1.png">
                    </div>
                    <div>
                        <img class="d-block img-fluid" src="/images/banner-1.png">
                    </div>
                    <div>
                        <img class="d-block img-fluid" src="/images/banner-2.png">
                    </div>
                    <div>
                        <img class="d-block img-fluid" src="/images/banner-1.png">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col">

                    <header>
                        <div class="row">
                            <div class="col">
                                <h2 class="f18 blue-dark medium">Categories</h2>
                            </div>
                            <!-- <div class="col text-end">
                                                                                                    <a href="#" class="f14 blue-light">See All</a>
                                                                                                </div> -->
                        </div>
                    </header>

                    <div class="categories__wrap">

                        <ul class="categories">
                            <li class="categories__item">
                                <a href="#" class="categories__item__link">
                                    <span class="categories__item__link__icon">
                                        <img src="/images/ico-monitor.png"/>
                                    </span>
                                    <span class="categories__item__link__title">Monitor</span>
                                    <span class="categories__item__link__amount">700+</span>
                                </a>
                            </li>
                            <li class="categories__item">
                                <a href="#" class="categories__item__link">
                                    <span class="categories__item__link__icon">
                                        <img src="/images/ico-camera.png"/>
                                    </span>
                                    <span class="categories__item__link__title">Camera</span>
                                    <span class="categories__item__link__amount">700+</span>
                                </a>
                            </li>
                            <li class="categories__item">
                                <a href="#" class="categories__item__link">
                                    <span class="categories__item__link__icon">
                                        <img src="/images/ico-printer.png"/>
                                    </span>
                                    <span class="categories__item__link__title">Printer</span>
                                    <span class="categories__item__link__amount">700+</span>
                                </a>
                            </li>
                            <li class="categories__item">
                                <a href="#" class="categories__item__link">
                                    <span class="categories__item__link__icon">
                                        <img src="/images/ico-headphone.png"/>
                                    </span>
                                    <span class="categories__item__link__title">Headphone</span>
                                    <span class="categories__item__link__amount">700+</span>
                                </a>
                            </li>
                            <li class="categories__item">
                                <a href="#" class="categories__item__link">
                                    <span class="categories__item__link__icon">
                                        <img src="/images/ico-mobile.png"/>
                                    </span>
                                    <span class="categories__item__link__title">Phone</span>
                                    <span class="categories__item__link__amount">700+</span>
                                </a>
                            </li>
                            <li class="categories__item">
                                <a href="#" class="categories__item__link">
                                    <span class="categories__item__link__icon">
                                        <img src="/images/ico-watch.png"/>
                                    </span>
                                    <span class="categories__item__link__title">Watch</span>
                                    <span class="categories__item__link__amount">700+</span>
                                </a>
                            </li>
                            <li class="categories__item">
                                <a href="#" class="categories__item__link">
                                    <span class="categories__item__link__icon">
                                        <img src="/images/ico-monitor.png"/>
                                    </span>
                                    <span class="categories__item__link__title">SSD</span>
                                    <span class="categories__item__link__amount">700+</span>
                                </a>
                            </li>
                            <li class="categories__item">
                                <a href="#" class="categories__item__link">
                                    <span class="categories__item__link__icon">
                                        <img src="/images/ico-mike.png"/>
                                    </span>
                                    <span class="categories__item__link__title">Mike</span>
                                    <span class="categories__item__link__amount">700+</span>
                                </a>
                            </li>
                            <li class="categories__item">
                                <a href="#" class="categories__item__link">
                                    <span class="categories__item__link__icon">
                                        <img src="/images/ico-cpu.png"/>
                                    </span>
                                    <span class="categories__item__link__title">CPU</span>
                                    <span class="categories__item__link__amount">700+</span>
                                </a>
                            </li>
                            <li class="categories__item">
                                <a href="#" class="categories__item__link">
                                    <span class="categories__item__link__icon">
                                        <img src="/images/ico-wifi.png"/>
                                    </span>
                                    <span class="categories__item__link__title">Wi-fi</span>
                                    <span class="categories__item__link__amount">700+</span>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col">

                    <header>
                        <div class="row">
                            <div class="col">
                                <h2 class="f18 blue-dark medium">Products</h2>
                            </div>
                            <!-- <div class="col text-end">
                                                                                                    <a href="#" class="f14 blue-light">See All</a>
                                                                                                </div> -->
                        </div>
                    </header>

                    <ul class="products">
                        <li class="products__item">
                            <div class="products__item__icon">
                                <img src="/images/headphone-bang.png" alt=""/>
                            </div>
                            <div class="products__item__title">Bang & Olufsen Beoplay
                                                                                                                                            H4 2nd Gen-Wireless</div>
                            <div class="products__item__price">
                                <div class="products__item__price__from">
                                    R$ 159,90
                                </div>
                                <div class="products__item__price__to">
                                    R$ 189,90
                                </div>
                            </div>
                            <div class="products__item__amount">
                                <div class="products__item__amount__input">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                    <input class="quantity" min="0" max="99" name="quantity" value="1" type="number">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                </div>
                                <div class="products__item__amount__checkout">
                                    <a href="#" class="products__item__amount__checkout__link">Adicionar ao carrinho</a>
                                </div>
                            </div>
                        </li>
                        <li class="products__item">
                            <div class="products__item__icon">
                                <img src="/images/speaker-sony-smart.png" alt=""/>
                            </div>
                            <div class="products__item__title">Sony Smart Speaker
                                                                                                                                            with Google Assistant</div>
                            <div class="products__item__price">
                                <div class="products__item__price__from">
                                    R$ 159,90
                                </div>
                                <div class="products__item__price__to">
                                    R$ 189,90
                                </div>
                            </div>
                            <div class="products__item__amount">
                                <div class="products__item__amount__input">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                    <input class="quantity" min="0" max="99" name="quantity" value="1" type="number">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                </div>
                                <div class="products__item__amount__checkout">
                                    <a href="#" class="products__item__amount__checkout__link">Adicionar ao carrinho</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>

</main>

<%- include('partials/footer.ejs') %>
