<%- include('partials/header.ejs') %>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col login-pages min-vh-100">

                <div class="mx-auto">

                    <header class="login__header">
                        <h1 class="login__header__h1">Welcome Back</h1>
                        <h2 class="login__header__h2">Lets Shopping</h2>
                    </header>

                    <form class="form-login">
                        <fieldset>
                            <div class="form-group row">
                                <div class="col">
                                    <input type="email" class="form-control email" id="email" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col">
                                    <input type="password" class="form-control password" id="password"
                                        placeholder="Enter password">
                                    <a href="/forgot-password" class="f14 text-end d-block float-right py-2 px-3 cinza">Forgot
                                        Password?</a>
                                </div>
                            </div>
                            <div class="pb-1 cinza-medio f14">
                                By Click on login you are accepted privacy and policy.
                            </div>

                        </fieldset>
                        <div>
                            <a href="/editprofile" class="btn btn-cta mx-auto">Sign in</a>
                        </div>
                        <div class="text-center mt-3 mb-4 cinza f14">
                            OR, login With
                        </div>
                    </form>

                    <div class="row justify-content-center">
                        <div class="col-9 col-lg-2 d-flex justify-content-around login-network">
                            <div>
                                <a href="#">
                                    <img src="/images/ico-google.png" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="/images/ico-facebook.png" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="/images/ico-apple.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 text-center">
                        <span class="f14">New User?</span> <span class="f12"><a href="/signup">Sign Up Here</a></span>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>
