<%- include('partials/header.ejs') %>
<%- include('partials/menu.ejs') %>

<main class="main">

    <%- include('partials/search.ejs') %>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5 mb-lg-0">

                    <main class="d-flex gap-4 flex-wrap">

                        <section class="col-lead bg-section bg-section-bordered">

                            <h1 class="f18 blue-dark medium mb-4">Order Unsuccessful</h1>

                            <div class="order-unsuccessful-pages"></div>

                            <header class="order-unsuccessful__header">
                                <h1 class="order-unsuccessful__header__h1">Order Unsuccessful</h1>
                                <p class="order-unsuccessful__header__error">Error Code: 1258</p>
                                <h2 class="order-unsuccessful__header__h2 col col-lg-4 mx-auto">Your order is not places due to some technical reason please try again after some time. 
                                    or contact our support team.</h2>
                            </header>

                            <div class="mt-3">
                                <a href="/cart" class="btn btn-outline mx-auto">Try Again</a>
                            </div>
                        
                        </section>

                        <aside class="col-aside bg-section bg-section-colored d-none d-lg-flex">
                            <div class="brand">
                                <a href="/" class="d-block">
                                    <img src="/images/brand.svg" alt="Warehouse Super Market Store" />
                                </a>
                            </div>                                    
                        </aside>

                    </main>

                </div>
            </div>
        </div>
    </section>

</main>

<%- include('partials/footer.ejs') %>
