<%- include('../partials/header.ejs') %>
<%- include('../partials/menu.ejs') %>

<main class="main">

    <%- include('../partials/search.ejs') %>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5 mb-lg-0">

                    <main class="d-flex gap-4 flex-wrap">

                        <section class="col-lead bg-section bg-section-bordered">

                            <h1 class="f18 blue-dark medium mb-4">Users</h1>

                            <div class="table-responsive">
                                <table class="table table-dashed">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Contact</th>
                                            <th>Phone</th>
                                            <th>Address</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Col 1</td>
                                            <td>Col 2</td>
                                            <td>Contact</td>
                                            <td>Phone</td>
                                            <td>Address</td>
                                            <td><a href="#">Update</a></td>
                                            <td><a href="#">Delete</a></td>
                                        </tr>
                                    </tbody>
                                    <tfott>
                                        <tr>
                                            <td>Col 1</td>
                                            <td>Col 2</td>
                                            <td>Contact</td>
                                            <td>Phone</td>
                                            <td>Address</td>
                                            <td><a href="#">Update</a></td>
                                            <td><a href="#">Delete</a></td>
                                        </tr>
                                    </tfott>
                                </table>
                            </div>
                        
                        </section>

                        <aside class="col-aside bg-section bg-section-colored d-none d-lg-flex">
                            <div class="brand">
                                <a href="/" class="d-block">
                                    <img src="/images/brand.svg" alt="Warehouse Super Market Store" />
                                </a>
                            </div>                                    
                        </aside>

                    </main>

                </div>
            </div>
        </div>
    </section>

</main>

<%- include('../partials/footer.ejs') %>
