html,
body {
    height:100%;
}

.pages {background-color: #fff;}

.btn {
    display:flex;
    justify-content: center;
    align-items: center;
}

a,
a:hover {
    text-decoration: none;
}

.f12 {font-size: 12px;}
.f14 {font-size: 14px;}

.cinza {
    color:#B7B7B7;
}

.cinza-medio {
    color:#707070;
}

/**
* Cover
*/

body {
    font-family: rubik, sans-serif;
}

body.home {
    background: rgb(98,41,170);
    background: linear-gradient(6deg, rgba(98,41,170,1) 0%, rgba(36,83,201,1) 100%);
    height: 100%;
    width: 100%;
}

.home__wrap {    
    background-image:url(../images/pattern.png);
    background-repeat:no-repeat;
    background-position: center bottom;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.w-200 {
    width: 200px;
}


/**
* Forms
*/

.skip {
    font-size: 12px;
    color: #B4B4B4;
    text-align: right;
    margin-top: 50px;
    display:block;
}

.form-control {
    border-radius: 0;
    border:0;
    border-bottom:2px solid #E2E2E2;
    color: #626A80;
}

.onboarding__figure {
    margin:0;
    margin-top:100px;
    height: 500px;
}

.onboarding__figure__pic {
    height: 251px;
    margin-bottom:72px;
    display: block;
}

.onboarding__title {
    color: #222;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-bottom:10px;
}

.onboarding__description {
    color: #222;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}


/**
* Onboard Carousel
*/

.slick-dots {
    list-style:none;
    margin:0;
    padding:0;
    display:flex !important;
    justify-content: center;
    gap: 0 8px;
}

.slick-dots button {
    background-color: #DEE3F0;
    border:0;
    text-indent:-9999px;
    width: 8px;
    height: 8px;
    line-height: 0;
    border-radius: 100%;
    display: block;
    padding: 0;
    transition: all .4s;
}

.slick-dots .slick-active button {
    width:20px;
    background: rgb(98,41,170);
    background: linear-gradient(86deg, rgba(98,41,170,1) 0%, rgba(36,83,201,1) 100%);
    border-radius: 20px;
}

.onboarding-cta {
    margin:0 auto;
    margin-top:45px;
}

.onboarding-cta:hover {
    color: #fff;
}

.btn-cta {
    width: 294px;
    height: 53px;
    background: rgb(98,41,170);
    background: linear-gradient(6deg, rgba(98,41,170,1) 0%, rgba(36,83,201,1) 100%);
    border-radius:27px;
    border:0;
    color: #fff;
    font-weight: 400;
}

.btn-cta:hover {
    color: #fff;
}


/**
* Login
*/

.login-pages {
    background:url(../images/header-rounded.png) no-repeat center -395px;
}

.login__header {
    height: 100px;
    box-sizing: border-box;
    padding-top:100px;
    height: 260px;
}

.login__header__h1 {
    font-size: 30px;
    color:#fff;
    font-weight: 400;
    text-align: center;
}

.login__header__h2 {
    font-size: 14px;
    color:#fff;
    font-weight: 400;
    text-align: center;
}

.form-login {
    margin: 0 auto;
    margin-top: 40px;
    width: 295px;
    display:flex;
    flex-direction: column;
    gap: 20px 0;
}

.form-login #email {
    background: url(../images/ico-email.svg) no-repeat 11px 10px !important;
    padding-left: 40px;
}

.form-login #password {
    background: url(../images/ico-lock.svg) no-repeat 11px 10px !important;
    padding-left: 40px;
}